h2{
    text-align: center;
    font-size: 30px;
    color: blue;
    margin-top: 20px;
}

h3{
    margin-top: 10px;
    text-align: center;
}

ul{
    text-align: center;
    padding: 10px;
}

button{
    background-color: crimson;
    color: aliceblue;
    padding: 10px;
    margin-right: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}